<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>FantasyDraft18</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container'>
    <h4>Big Board 2018</h4>
    <%= yield %>
  </body>
</html>
